@page
@model benlester.com.CVModel
@{
    ViewData["Title"] = "CV";
}

<div class="text-center">
    <h1 class="display-4">CV</h1>
    <p>Coming soon.</p>
    <p>For now, see my <a href="https://www.linkedin.com/in/ablester">LinkedIn</a>.</p>
</div>
