@page
@model IndexModel
@{
    ViewData["Title"] = "Ben Lester";
}

<div class="text-center">
    <h1 class="display-4 text-light">Hi! I'm Ben.</h1>
    <p class="text-light">I write code and go on adventures.</p>

</div>
