@page
@model IndexModel
@{
    ViewData["Title"] = "Ben Lester";
}

<div class="text-center text-light">
    <h1 class="display-4">Hello! I'm Ben!</h1>
    <p>I write code and go on adventures.</p>

</div>
